body {
  font-family: "Federant";
  background-image: url("./imgs/glass.png");
  background-size: contain;
  margin: 0;
}

.container {
  padding: 30px;
  background: rgba(255, 255, 255, 0.5);
}

.title {
  font-size: 30px;
  margin-top: 0;
  font-weight: bold;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px #202429, 1px -1px 1px #202429, -1px 1px 1px #202429,
    -1px -1px 1px #202429;
}

.identicon {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 15px solid #f1f1f1;
}

.px {
  color: #f1f1f1;
  text-shadow: 1px 1px 1px #202429, 1px -1px 1px #202429, -1px 1px 1px #202429,
    -1px -1px 1px #202429;
  font-weight: bold;
}

.row {
  display: flex;
}

/* .on {
  background: #b76fcc;
} */

.off {
  background: #f1f1f1;
}

.text-center {
  text-align: center;
}

/*
 * form
 */

.identicon-form {
  margin: 20px auto;
}

.select-label {
  font-size: 18px;
  margin-bottom: 0;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px #202429, 1px -1px 1px #202429, -1px 1px 1px #202429,
    -1px -1px 1px #202429;
  font-weight: bold;
}

.birth-box {
  display: flex;
  justify-content: center;
}

.birth-select {
  overflow: hidden;
  width: 100px;
  margin: 5px;
  text-align: center;
}

.birth-select select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  font-size: 16px;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.birth-select select::-ms-expand {
  display: none;
}

.birth-select.birth {
  position: relative;
  border-radius: 2px;
  border: 2px solid #b76fcc;
  border-radius: 50px;
  background: #ffffff;
}

.birth-select.birth::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #b76fcc;
  pointer-events: none;
}

.birth-select.birth select {
  padding: 8px 38px 8px 8px;
  color: #b76fcc;
}

/*
 * button
 */

.button-box {
  margin: 0 auto;
}

.submit-btn {
  display: block;
  margin: 20px auto;
  font-family: "Federant";
  font-size: 16px;
  font-weight: bold;
  color: #b76fcc;
  background: #fff;
  border: 3px solid #b76fcc;
  border-radius: 50px;
  cursor: pointer;
  padding: 5px 20px;
  transition: 0.3s;
}

.submit-btn:hover {
  color: #fff;
  background: #b76fcc;
}

.make-btn {
  display: block;
  width: 120px;
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
  background: #b76fcc;
  border: 3px solid #b76fcc;
  border-radius: 50px;
  cursor: pointer;
  padding: 5px 20px;
  transition: 0.3s;
}

.make-btn:hover {
  color: #fff;
  background: #b76fcc;
}

.submit-btn:hover + .button-box > .make-btn {
  color: #b76fcc;
  background: #fff;
}

.twitter-link {
  position: relative;
  left: 40%;
  height: 28px;
  border-radius: 50px;
  padding: 10px 20px;
  background: #2195e0;
  color: #fff;
  text-decoration: none;
}

.twitter-icon {
  height: 20px;
  width: 20px;
}

.twitter-label {
  margin-left: 4px;
}

/*
 * footer
 */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: #b76fcc;
  color: #fff;
}

.copyright {
  font-size: 12px;
}

.icons {
  display: flex;
  list-style: none;
  margin: 5px 0;
  padding: 0;
  text-align: center;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.icon-link {
  display: block;
}

.icon-link > i {
  vertical-align: middle;
}

.icon-link > .twitter {
  color: #2195e0;
}

.icon-link > .github {
  color: #202429;
}
